# Nuxt.js build output
.nuxt
dist

# Node.js modules
node_modules

# Environment variables
.env

# Logs
logs
*.log

# macOS
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.output
